.main-content {
    background-color: cornflowerblue;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin: 0;
    text-align: center;
    height: 740px;
    /* background-blend-mode: soft-light; */
    ;
}

.image {
    border-radius: 20px 0px;
}

.sepia {
    filter: sepia(100%);
}

.blur {
    filter: blur(2px);
}

.black-and-white {
    filter: grayscale(100%);
}

.gradient {
    background: linear-gradient(to right, #f00, #0f0, #00f);
}

.grid {
    display: flex;
}

.btn {
    color: rgb(26, 197, 52);
    background-color: rgb(212, 232, 232);
    border: none;
    margin: 2px;
    cursor: pointer;
    width: 25%;
    height: 50px;
    font-weight: bolder;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    background-color: rgb(88, 157, 134);
}

h1 {
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    /* text-shadow: -4px 4px #ef3550, -8px 8px #f48fb1, -12px 12px #7e57c2, -16px 16px #2196f3, -20px 20px #26c6da; */
}

.import {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    margin: 10px;
}