body{
    margin: 0;
    padding: 0;
    font-family: poppins;
}
#nav{
    background-color: darkcyan;
    color: white;
    display: flex;
    height: 100px;
    font-size: 1.5rem;
    position: fixed;
    width: 100%;
}
#nav .sect1{
    font-size: 1em;
    font-family: monospace;
    margin-top: 30px;
    margin-left: 30px;
}
.msg{
    font-size: 3.5rem;
    padding: 10rem;
    text-align: center;
    background-color: rgb(240, 233, 233);
}
#frame{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    
}
#frame img{
    height: 200px;
    width: 300px;
    cursor: pointer;
    filter: blur(2px);
}
#frame img:hover{
    transform: scale(1.2);
    transition: 0.7s;
    filter: blur(0px);
}

img{
    max-width:180px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  
input[type=file]{
  padding:10px;
  background:#2d2d2d;
  color: white;
  display: block;
  width: 350px;
  margin: auto;
}
#imgSel{
    padding: 5rem;
    text-align: center;
    color: rgb(10, 161, 10);
}
.filtB{
    padding: 10px;
    border: 1px solid darkred;
    cursor: pointer;
    background: none;
    color: darkred;
    font-size: 1em;
}
.filtB:hover{
    background: darkred;
    color: white;
}


/* Filters  */
.invert{
    filter: invert(100%);
}
.blur{
   filter: blur(3px);
}
.bnw{
   filter: grayscale(100%);
}
.sat{
   filter: saturate(50%);
}
.cont{
    filter: contrast(90%);
}
.sepia{
    filter: sepia(100%);
}


/* Footer Section  */
#footer{
    background: darkcyan;
    height: 20vh;
    margin-top: 15em;
}
#footer h2{
    padding: 10px;

}
#footer{
    display: flex;
    flex-direction: column;
}

#footer h4{
    margin-top: 20px;
    padding: 10px;
    background: cyan;
    font-family: monospace;
    font-size: 1.3em;
    text-align: center;
}
.links{
    display: flex;
    padding: 2px;
    margin-left: 40px;
}
.links img{
    height: 35px;
    width: 35px;
    margin: 8px;
    cursor: pointer;
}
.links img:hover{
    transition: .5s;
    transform: scale(1.2);
}